body {
  font-family: "Roboto", sans-serif;
}

#app {
  min-width: 250px;
}

.login {
  width: 250px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
}

.login img {
  height: 64px;
  width: 64px;
  align-self: center;
}

.login a.button {
  margin-bottom: 15px;
}

.content {
  width: 500px;
}

.booking-text {
  margin: 30px;
}

.list {
  box-shadow: none;
}

.list-item {
  padding: 15px;
}

.tabs {
  width: 100%;
  padding: 0;
  margin-bottom: 0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.12);
}

.tab {
  width: 50%;
  padding: 10px 45px;
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 3px;
}

.tab.active,
.tab:hover {
  border-bottom: 3px solid #5287d2;
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  .tab {
    padding: 10px 10px;
  }
}

mark.color {
  background-color: #66676b;
  border-radius: 4px;
  color: #fff;
}

mark {
  background-color: #fcf8e3;
  color: #8a803e;
  padding: 1px 5px;
  font-size: 12px;
}


.list-item a {
    color: inherit;
    cursor: pointer;
}

.list-item:hover,
.list-item:focus {
  outline: none;
  border-left: 3px solid #5287d2;
}


.list-item:hover > .list-item-card,
.list-item:focus > .list-item-card {
  margin-left: -3px;
}

.list-item-card {
  display: block;
  background-color: transparent;
  transition: none;
  box-shadow: none;
  transform: none !important;
  box-shadow: none !important;
}

a.btn {
  color: #fff;
}

.btn {
  vertical-align: middle;
  background-color: #5287d2;
  top: 0;
  padding: 10px 20px;
  line-height: 24px;
  color: #fff;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(82, 135, 210, 0.15);
}

.btn:hover,
.btn:focus {
  color: white;
}

.btn:disabled {
  background-color: grey;
  cursor: inherit;
}

.btn.text {
  box-shadow: none;
  border: 1px solid grey;
  background-color: transparent;
  color: black;
}
.btn.text.error, .btn.text.error:hover {
  color: red;
  border-color: red;
}