<template>
  <div>
    <span class="visually-hidden">
      Zugfahrt am {{ dateOfDeparture }},
      Abfahrt {{ travelChain.departure.departureTrainStation }}
      um {{ formatTime(travelChain.departure.departureOn) }} Uhr
      <template
        v-if="travelChain.departure.departureTrack"
      >von Gleis {{ travelChain.departure.departureTrack }}</template>
      mit {{ travelChain.departure.departureTrainNumber }}
    </span>
    <div v-if="dense !== undefined" aria-hidden="true">
      <hr />
      <div class="d-flex dense">
        <div class="margin-right-15">
          <span class="subtitle-1 font-weight-light">{{ dateOfDeparture }}</span>
          <br />
          <mark class="color" :style="{'background-color': statusColor}">{{ statusText }}</mark>
        </div>
        <div class="flex-grow-1">
          <div class="row">
            <div class="col-12 col-sm-6">
              <h2 class="title">{{ travelChain.departure.departureTrainStation }}</h2>
              <span>
                {{ formatTime(travelChain.departure.departureOn) }} Uhr
                <strong>&bull;</strong>
                <template v-if="travelChain.departure.departureTrack">
                  Gleis {{ travelChain.departure.departureTrack }}
                  <strong>&bull;</strong>
                </template>
                {{ travelChain.departure.departureTrainNumber }}
              </span>
            </div>
            <div class="col-12 col-sm-6 text-sm-right">
              <h2 class="title">{{ travelChain.arrival.arrivalTrainStation }}</h2>
              <span>
                {{ formatTime(travelChain.departure.departureOn) }} Uhr
                <strong>&bull;</strong>
                <template v-if="travelChain.departure.departureTrack">
                  Gleis {{ travelChain.departure.departureTrack }}
                  <strong>&bull;</strong>
                </template>
                {{ travelChain.departure.departureTrainNumber }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-else aria-hidden="true">
      <div class="row">
        <div class="col-6 d-flex align-self-end">
          <span class="headline font-weight-light margin-bottom-5">{{ dateOfDeparture }}</span>
        </div>
        <div class="col-6 text-right align-self-end justify-content-end">
          <span class="title font-weight-thin transfers">
            <i class="icon-line-awesome-exchange" />
            {{ travelChain.transfers.length }}
          </span>
          <span class="title font-weight-thin duration">
            <i class="icon-feather-clock" />
            {{ duration }}h
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <h2 class="title">{{ travelChain.departure.departureTrainStation }}</h2>
          <span>
            {{ formatTime(travelChain.departure.departureOn) }} Uhr
            <strong>&bull;</strong>
            <template v-if="travelChain.departure.departureTrack">
              Gleis {{ travelChain.departure.departureTrack }}
              <strong>&bull;</strong>&nbsp;
            </template>
            {{ travelChain.departure.departureTrainNumber }}
          </span>
        </div>
        <div class="col-12 col-sm-6 text-sm-right">
          <h2 class="title">{{ travelChain.arrival.arrivalTrainStation }}</h2>
          <span>
            {{ formatTime(travelChain.arrival.arrivalOn) }} Uhr
            <strong>&bull;</strong>
            <template v-if="travelChain.arrival.arrivalTrack">
              Gleis {{ travelChain.arrival.arrivalTrack }}
              <strong>&bull;</strong>
            </template>
            {{ arrivalTrainNumber }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import dayjs from "dayjs";

export default {
  props: ["travelChain", "dense"],

  methods: {
    formatTime(date) {
      return dayjs(date).format("HH:mm");
    }
  },
  computed: {
    statusText() {
      switch (this.travelChain.status) {
        case "Created":
          return "Angefragt";
        case "Confirmed":
          return "Bestätigt";
        case "Reserved":
          return "Reserviert";
        case "Warning":
          return "Warnung";
        case "Error":
          return "Abgelehnt";
        default:
          return undefined;
      }
    },
    statusColor() {
      switch (this.travelChain.status) {
        case "Created":
          return "#3184ae";
        case "Confirmed":
        case "Reserved":
          return "#5f9025";
        case "Warning":
          return "#8f872e";
        case "Error":
          return "#de5959";
        default:
          return undefined;
      }
    },
    dateOfDeparture() {
      const date = dayjs(this.travelChain.departure.departureOn);
      const now = dayjs();

      if (date.isSame(now, "year")) {
        return date.format("DD.MM.");
      } else {
        return date.format("DD.MM.YYYY");
      }
    },
    duration() {
      const departureOn = dayjs(this.travelChain.departure.departureOn);
      const arrivalOn = dayjs(this.travelChain.arrival.arrivalOn);
      const diff = arrivalOn.diff(departureOn);

      return dayjs.utc(diff).format("H:mm");
    },

    arrivalTrainNumber() {
      const lastTransfer = this.travelChain.transfers[
        this.travelChain.transfers.length - 1
      ];

      if (lastTransfer) {
        return lastTransfer.transferDepartureTrainNumber;
      } else {
        return this.travelChain.departure.departureTrainNumber;
      }
    }
  }
};
</script>

<style lang="css">
hr {
  color: black;
  margin: 2px 0;
}

.transfers {
  margin-right: 15px;
}
</style>