<template>
  <single-connection v-if="!returnTravelChain" :travelChain="outwardTravelChain" :dense="dense" />
  <two-connections
    v-else
    :outwardTravelChain="outwardTravelChain"
    :returnTravelChain="returnTravelChain"
    :dense="dense"
  />
</template>

<script>
import SingleConnection from "./SingleConnection.vue";
import TwoConnections from "./TwoConnections.vue";

export default {
  props: ["outwardTravelChain", "returnTravelChain", "dense"],
  components: { SingleConnection, TwoConnections }
};
</script>