<template>
  <div class="row">
    <div class="col-12 col-md-6">
      <single-connection :travelChain="outwardTravelChain" :dense="dense" />
    </div>
    <div class="col-12 col-md-6">
      <single-connection :travelChain="returnTravelChain" :dense="dense" />
    </div>
  </div>
</template>

<script>
import SingleConnection from "./SingleConnection.vue";

export default {
  props: ["outwardTravelChain", "returnTravelChain", "dense"],
  components: { SingleConnection }
};
</script>