<template>
  <div id="app">
    <div v-if="loading">Laden...</div>
    <div v-else-if="!user" class="login">
      <img :src="'../icons/Logo_HaSe.svg'" alt="Hase Logo" class="margin-top-15" />
      <h1 class="margin-top-15 margin-bottom-15">HaSe</h1>
      <p>Bitte logge Dich ein, um die Extension nutzen zu können.</p>

      <a class="btn" href="https://hase.app/api/user/login/redirect" target="_blank">Login</a>
      <small>
        Du hast noch keinen Account?
        <a
          href="https://hase.app/api/user/register/redirect"
          target="_blank"
        >Registriere Dich jetzt!</a>
      </small>
    </div>
    <div v-else class="content">
      <nav>
        <ul class="tabs d-flex justify-content-center text-center">
          <li
            @click="currentTab = 'booking'"
            :class="['tab', {'active': currentTab === 'booking'}]"
          >Buchung</li>
          <li
            @click="currentTab = 'activeRequests'"
            :class="['tab', {'active': currentTab === 'activeRequests'}]"
          >Offene Hilfeleistungen</li>
        </ul>
      </nav>

      <template v-if="currentTab === 'booking'">
        <div v-if="actionSuccessful === true" class="notification success">{{ actionText }}</div>
        <div v-if="actionSuccessful === false" class="notification error">{{ actionText }}</div>
        <div
          v-if="!booking.outwardRide && !booking.returnRide"
          class="text-center booking-text"
        >Deine auf bahn.de ausgewählte Zugfahrt wird automatisch hier erscheinen.</div>

        <div v-if="booking.outwardRide" class="container margin-top-15">
          <div class="row">
            <div class="col-12">
              <h3>Hinfahrt</h3>
              <single-connection :travelChain="toTravelChain(booking.outwardRide)" />
            </div>
          </div>
        </div>

        <template v-if="booking.returnRide">
          <div class="container margin-top-15">
            <div class="row">
              <div class="col-12">
                <h3>Rückfahrt</h3>
                <single-connection :travelChain="toTravelChain(booking.returnRide)" />
              </div>
            </div>
          </div>
        </template>

        <div v-if="booking.outwardRide || booking.returnRide" class="container margin-top-15">
          <div class="row">
            <div class="col-12">
              <button
                @click="requestAssistance"
                class="btn margin-right-15 margin-bottom-15"
              >Hilfeleistung anfragen</button>
              <button @click="saveRide" class="btn margin-right-15 margin-bottom-15">Speichern</button>
              <button @click="deleteRide" class="btn text margin-bottom-15">Löschen</button>
            </div>
          </div>
        </div>
      </template>

      <template v-else>
        <div class="container margin-top-15 margin-bottom-15">
          <div class="row">
            <div class="col-12">
              <div
                v-if="activeAssistanceRequests.length === 0"
                class="text-center booking-text"
              >Du hast derzeit keine offenen Hilfeleistungen.</div>
              <ul v-else class="list striped">
                <li class="list-item" v-for="ar in activeAssistanceRequests" :key="ar.id">
                  <div class="card list-item-card">
                    <a :href="`https://hase.app/assistance-requests/${ar.id}`">
                      <travel-chain
                        :outwardTravelChain="ar.outwardTravelChain"
                        :returnTravelChain="ar.returnTravelChain"
                        dense
                      />
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import SingleConnection from "@/components/SingleConnection.vue";
import TravelChain from "@/components/TravelChain.vue";

import dayjs from "dayjs";

const host = "https://hase.app/api";

export default {
  name: "App",
  data: () => ({
    user: null,
    loading: true,
    currentTab: "booking",
    booking: {
      outwardRide: null,
      returnRide: null
    },
    activeAssistanceRequests: [],
    actionSuccessful: null,
    actionText: "",
    isDoingAction: false
  }),
  created() {
    this.get("/user")
      .then(user => {
        this.user = user;
        this.loading = false;

        chrome.runtime.sendMessage(
          { type: "CurrentBookingRequested" },
          response => {
            this.booking = response;
          }
        );

        this.get("/assistance-requests").then(ars => {
          this.activeAssistanceRequests = ars
            .map(it => this.mapServerAssistanceRequest(it))
            .filter(this.isActiveAssistanceRequest);
        });
      })
      .catch(() => {
        this.loading = false;
      });
  },
  methods: {
    requestAssistance() {
      if (this.isDoingAction) {
        return;
      }
      this.isDoingAction = true;

      const plannedOutwardRide =
        this.booking.outwardRide || this.booking.returnRide;
      const plannedReturnRide = this.booking.outwardRide
        ? this.booking.returnRide
        : null;

      this.post("/train-rides", {
        plannedOutwardRide,
        plannedReturnRide
      })
        .then(plannedTrainRide => {
          console.log(plannedTrainRide);
          return this.post("/assistance-requests", plannedTrainRide.id);
        })
        .then(() => {
          this.deleteRide();
          this.actionSuccessful = true;
          this.actionText = "Die Hilfeleistung wurde erfolgreich angefragt!";

          this.get("/assistance-requests").then(ars => {
            this.activeAssistanceRequests = ars
              .map(it => this.mapServerAssistanceRequest(it))
              .filter(this.isActiveAssistanceRequest);
          });
        })
        .catch(() => {
          this.actionSuccessful = false;
          this.actionText = "Die Hilfeleistung konnte nicht angefragt werden.";
        })
        .finally(() => {
          this.isDoingAction = false;
        });
    },
    saveRide() {
      if (this.isDoingAction) {
        return;
      }
      this.isDoingAction = true;

      const plannedOutwardRide =
        this.booking.outwardRide || this.booking.returnRide;
      const plannedReturnRide = this.booking.outwardRide
        ? this.booking.returnRide
        : null;

      this.post("/train-rides", {
        plannedOutwardRide,
        plannedReturnRide
      })
        .then(() => {
          this.deleteRide();
          this.actionSuccessful = true;
          this.actionText = "Die Zugfahrt wurde erfolgreich gespeichert!";
        })
        .catch(() => {
          this.actionSuccessful = false;
          this.actionText = "Die Zugfahrt konnte nicht gespeichert werden.";
        })
        .finally(() => {
          this.isDoingAction = false;
        });
    },
    deleteRide() {
      chrome.runtime.sendMessage({ type: "DeleteCurrentBookingRequested" });
      this.booking = {
        outwardRide: null,
        returnRide: null
      };
    },
    isActiveAssistanceRequest(assistanceRequest) {
      const currentDate = dayjs().toISOString();
      const arrivalDate =
        assistanceRequest.returnTravelChain !== null
          ? assistanceRequest.returnTravelChain.arrival.arrivalOn
          : assistanceRequest.outwardTravelChain.arrival.arrivalOn;

      return arrivalDate > currentDate;
    },

    mapServerAssistanceRequest(request) {
      let outwardTravelChain = null;
      let returnTravelChain = null;

      if (request.confirmedOutwardRide) {
        outwardTravelChain = {
          status: request.confirmedOutwardRide.status,
          dbReference: request.confirmedOutwardRide.dbReference,
          ...request.confirmedOutwardRide.travelChain
        };
      } else {
        outwardTravelChain = {
          status: "Created",
          ...this.toTravelChain(request.plannedOutwardRide)
        };
      }

      if (request.confirmedReturnRide) {
        returnTravelChain = {
          status: request.confirmedReturnRide.status,
          dbReference: request.confirmedReturnRide.dbReference,
          ...request.confirmedReturnRide.travelChain
        };
      } else if (request.plannedReturnRide) {
        returnTravelChain = {
          status: "Created",
          ...this.toTravelChain(request.plannedReturnRide)
        };
      }

      const assistanceRequest = {
        id: request.id,
        outwardTravelChain,
        returnTravelChain,
        rating: request.rating
      };

      if (request.rejectedDays != null) {
        if (
          request.rejectedDays.includes(
            dayjs(
              assistanceRequest.outwardTravelChain.departure.departureOn
            ).format("YYYY-MM-DD")
          )
        ) {
          assistanceRequest.outwardTravelChain.status = "Error";
        }

        if (
          assistanceRequest.returnTravelChain &&
          request.rejectedDays.includes(
            dayjs(
              assistanceRequest.returnTravelChain.departure.departureOn
            ).format("YYYY-MM-DD")
          )
        ) {
          assistanceRequest.returnTravelChain.status = "Error";
        }
      }

      return assistanceRequest;
    },

    toTravelChain(plannedRide) {
      if (!plannedRide) {
        return null;
      }
      return {
        departure: plannedRide.plannedDeparture,
        transfers: plannedRide.plannedTransfers,
        arrival: plannedRide.plannedArrival
      };
    },
    async get(url) {
      const response = await fetch(`${host}${url}`, {
        method: "GET",
        credentials: "same-origin"
      });

      if (response.status !== 200) {
        return Promise.reject();
      }

      return response.json();
    },
    async post(url, data) {
      return new Promise((resolve, reject) => {
        chrome.cookies.get(
          {
            url: host,
            name: "XSRF-TOKEN"
          },
          cookie => {
            fetch(`${host}${url}`, {
              method: "POST",
              credentials: "include",
              headers: {
                "content-type": "application/json",
                accept: "application/json",
                "x-xsrf-token": cookie.value
              },
              body: JSON.stringify(data)
            }).then(response => {
              if (response.status !== 200) {
                return reject();
              }

              return resolve(response.json());
            });
          }
        );
      });
    }
  },
  components: { TravelChain, SingleConnection }
};
</script>
